<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="7zip.install" />
	<package id="adobereader" />
	<package id="audacity" />
	<package id="chocolatey" />
	<package id="firefox" />
	<package id="gimp" />
	<package id="googlechrome" />
	<package id="jre8" />
	<package id="nodejs" />
	<package id="notepadplusplus.install" />
	<package id="ntop.portable" />
	<package id="python3" />
	<package id="veyon" />
	<package id="vlc.install" />
	<package id="vscode.install" />
</packages>